   flask==2.3.3
   opencv-python==4.8.1.78
   numpy==1.26.4
   Pillow==10.4.0
   requests==2.32.3
   face_recognition==1.3.0
   https://github.com/z-mahmud22/DLib_Windows/releases/download/dlib_v19.24.2/dlib-19.24.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl